<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Room Booking confirmation by <%= @library_member.name %>!</h1>
    <p>You can now occupy the group study room in the alotted slot.</p>
  </body>
</html>