<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Library Room Booking confirmation by <%= @booking.library_member.email %>!</h1>
<p>You can now occupy the group study room in the alotted slot. <br>
Following are the booking details:
  <br>
  Start Time : <%= (@booking.start + 0.hours).strftime("%Y-%b-%d %I%p") %> <br>
  End Time :  <%= (@booking.end + 0.hours).strftime("%Y-%b-%d %I%p") %> <br>
  Room : <%= @booking.room.room_number %> <br>
</p>
</body>
</html>