<footer class="footer">
  <small>
    <a href="https://www.lib.ncsu.edu/">NCSU Library</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  static_pages_about_path %></li>
    </ul>
  </nav>
</footer>